#text-display {
    font-size: 40px;
    line-height: 1.6em;
    user-select: none;
    color: #646669;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 0.25s ease;
    white-space: pre-wrap;
  } 
  #text-display-wrapper {
    margin-left: 70px;
    margin-right: 70px;
    font-size: 40px;
    height: calc(3 * 1.6em); /* shows only 3 lines at a time */
    overflow: hidden;
    position: relative;
  }
  body{
    background-color:#323437;
    font-family: monospace;
  }
  .grey{
    color: #646669;
  }
  #time-end,#wpm-end,#acc-end {
    color: #e2b714;
  }
  header{
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 50px;
  }
  h3{
    font-family: monospace;
    color: #e2b714;
    font-size: 1.5rem;
    margin-left: 70px;
  }
  #reset{
    margin-left: 47%;
    height: 40px;
    width:40px;
  }
  .stat{
    font-family: monospace;
    color: #646669;
    font-size: 1.65rem;
    margin-left: 70px;
  }
  .stats{
    font-family: monospace;
    color: #e2b714;
  }
  #reset:hover{
    cursor: pointer;
  }
  #time{
    background-color: #2c2e31;
    color:#646669;
    width: 600px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 70px;
  }
  #byDefault{
    color:#e2b714;
  }
  #time h4:not(#byDefault){
    color: #646669;
  }
  #countdown{
    font-size: 2.6rem;
    font-family: monospace;
  }
  #result-container h1{
    margin-left: 70px;
    font-size: 3rem;
    font-family: monospace;
  }
  #result-container{
    display:none;
  }
  #results {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1em;
  }
  .stat-row{
    display: flex;
    justify-content: flex-start;
    height: 60px;
    gap: 70px;
  }
.stat-row h3{
    font-size: 3.2rem;
    font-family: monospace;
}
  #time .time:hover{
    color: #e2b714;
    cursor: pointer;
  }

  #time h4{
    margin-left: 40px;
    font-size: 1.1em;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .correct {
    color: #d1d0c5;
  }
  h1{
    color: #d1d0c5;
  }
  img {
    width: 40px;
    height: 35px;
  }
  
  .incorrect {
    color: #ca4754;
  }
  .active {
    position: relative;
  }
  #text-display span.active::before {
    content: "";    
    position: absolute;
    left: -2px;
    width: 2px;
    height: 1.2em;
    background-color: #e2b714;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  a {
    text-decoration: none;
    color: #646669;
    font-weight: bold;
  }
  a:hover {
    color: #e2b714; 
  }
  #links{
    text-align: right;
  }
  